
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  background-color: #F6F6F6;
  /* border: 80px solid #4c25b8;
  box-shadow: 0 0 0 65px #4c25b8; */
  /* background: url('./img/reacts.png') no-repeat; */


}

.font {
  font-size: large;
  font-weight: bold;
  list-style-type: none;
  color: gray;
}
.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  /* height: 70vh; */
  /* margin-top: -24px;
  margin-bottom: -50px; */
}
.ideal{
  margin-top: 70px;
}
.display-5{
  margin-bottom:30px;
  font-weight: bolder;
  font-size: 75px;
}

.lead {
  font-size: 25px;
  font-weight: bold;
  color: #616161;
}
.calabasas {
  /* font-weight: bolder; */
  font-size: 20px;
}
.apartment{
  color: grey;
  font-size: 18px;
  font-weight: 200px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
}
.card {
  border: none;
}
.register {
  margin-top: 100px;
  padding-bottom: 250px;
}
.login{
  margin-top: 100px;
  padding-bottom: 250px;
}
.housen {
  font-family: 'Ubuntu', sans-serif;
  font-size:50px ;
  font-weight: bolder;
  color: #4c25b8;
}
.housen:hover {
  color: #4c25b8;
}
.signup{ 
  color: #4c25b8;
  background-color:white;
  border:3px solid #4c25b8;
  border-radius: 3px;
  text-decoration-color: none;

}
.signup:hover {
  color: #4c25b8;
}

.buttonIn {
  width: 300px;
  position: relative;
}

input {
  padding: 10px;
  width: 225%;
  outline: none;
  height: 50px;
  border: white;
  border-radius: 2px;
}

button {
  z-index: 2;
  border: none;
  height: 40px;
  width: 150px;
  cursor: pointer;
  color: white;
  background-color: #4c25b8;
  transform: translateX(2px);
  margin-left: 150px;
}

footer {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search {
  color: gray;
}
.CA {
  background-color: #f9f9f9;
}
